.about-section {
    h3,
    h4,
    h5 {
        margin: 3rem 0;
    }

    img {
        display: block;
        height: 550px;
        max-width: 800px;
        margin: auto;
    }

    p {
        margin: 6rem;
        line-height: 1.5;
    }
}