* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    letter-spacing: .3px;
    max-width: 1200px;
    margin: auto;
}
// * Color Variables
$prim-c: #111;
$sec-c: #333;
$light-c: #fff;
$Facebook: #395599;
$Instagram: #c32f82;
$Twitter: #1c9deb;
$Printerest: #d73532;
$LinkedIn: #4064ad;
$YouTube: #f80000;

// * Responsive Variables
$iPad-Pro: 1024px;
$iPad: 768px;
$iPhone-X: 375px;

// * Font Variables
$base-font-size: 16px;
$sm_font-size: $base-font-size * 0.8;
$lg_font-size: $base-font-size * 1.4;
$xl_font-size: $base-font-size * 1.8;

// * Maps
$Font_size: (
    "sm": $sm_font-size,
    "lg": $lg_font-size,
    "xl": $xl_font-size,
);
@each $size_name, $size_value in $Font_size {
    .text {
        &-#{$size_name} {
            font-size: $size_value;
        }
    }
};
$Text-positioning: (
    "center": center,
    "right": right,
);
@each $position_name, $position_value in $Text-positioning {
    .#{$position_name} {
        text-align: $position_value;
    }
}

// * MIXIN's

// Flex
@mixin Flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}
// Responsive
@mixin Responsive($display) {
    @media (max-width: $display) {
        @content
    }
}